[user]
	name = YC Su
	email = hansycsu@gmail.com
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	unstage = reset HEAD --
	last = log -1 HEAD
	logl = log --pretty=format:\"%C(auto)%h %ad [%an] : %s%d\" --date=short
	logo = log --oneline
	logb = log --oneline --branches --graph
	loga = log --pretty=format:\"%C(auto)%h %ad [%an] : %s%d\" --date=short --branches --graph
	tags = log --pretty=format:\"%C(auto)%h %ad [%an] : %s%d\" --date=short --no-walk --tags
	ll   = log --pretty=format:\"%C(auto)%h %ad [%an] : %s%d\" --date=short --branches --graph -20
	file-history = log --stat --follow --pretty=format:\"%C(auto)%h %ad [%an] : %s%d\" --date=short
	cpick = cherry-pick
	dump = cat-file -p
	type = cat-file -t
	size = cat-file -s
	d = difftool
	dl = diff --name-only
	ref = reflog --date=short --format='%C(auto)%h %<|(17)%gD %gs%d'
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
[core]
	eol = lf
	autocrlf = input
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[push]
	default = simple
[log]
	date = iso
