[user]
	name = YC Su
	email = hansycsu@gmail.com
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	unstage = reset HEAD --
	last = log -1 HEAD
	logl = log --pretty=format:\"%C(auto)%h %ad [%an] : %s%d\" --date=short
	logo = log --oneline
	logb = log --oneline --branches --graph
[core]
	eol = lf
	autocrlf = input
